/*
Fonts
 */
$fonts-path: "../fonts";
$font-color: #404040;


/*
Colors
 */
$blue-dark: #6ab0de;
$red-light: #f29f97;

$bg-blue: #e7f2fa;
$bg-red: #fdf3f2;

$border-light: #e1e4e5;

$body-bg: #edf0f2;
$content-bg: #fcfcfc;


/*
Layout
 */
$sidebar-width: 300px;
$content-max-width: 800px;


/*
Sidebar
 */
$sidebar-bg-color: #343131;
$sidebar-color: #d9d9d9;
$sidebar-section-header-color: #3a7ca8;
$sidebar-link-hover-bg: #4e4a4a;
$sidebar-top-color: #fcfcfc;
$sidebar-top-bg: #2980b9;

$sidebar-toc-active-color: #404040;
$sidebar-toc-nested-color: #404040;
$sidebar-toc-active-bg: #fcfcfc;
$sidebar-toc-active-hover-bg: #d6d6d6;
$sidebar-toc-active-bg-1: #e3e3e3;
$sidebar-toc-active-border-1: #c9c9c9;
$sidebar-toc-active-bg-2: #c9c9c9;
$sidebar-toc-bg-3: #c9c9c9;


/*
Outline
 */
$subsection-margin-left: 5px;

$section-margin-1: 50px;
$section-margin-2: 30px;
$section-margin-small: 15px;

$todo-kw-color: #f29f97;

$todo-priority-color-default: #dbf223;
$todo-priority-color-A: #f25242;
$todo-priority-color-B: #f28d3d;
$todo-priority-color-C: $todo-priority-color-default;


/*
Inline markup
 */
$link-color: #2980B9;
$link-color-visited: #9B59B6;

$org-radio-color: #999;

$code-color: #e74c3c;
$code-bg: #fff;
$code-border-color: $border-light;


/*
Tables
 */
$table-border-color: $border-light;


/*
Org elements
 */
$org-timestamp-active-color: #2980b9;
$org-timestamp-inactive-color: #666;

$org-error-font-color: red;
$org-tag-bg: #666;


/*
Agenda
 */
$agenda-table-border-color: #bfbfbf;


/*
AST
 */
$org-ast-border-color: lightgray;
$org-ast-properties-border-color: lightblue;
$org-ast-properties-background-color: #e7f4f9;
