/*
 * Styling for org file elements.
 */


/********************
 * Org AST nodes
 ********************/

.org-node {

  /********************
   * Inline markup
   ********************/

  &.org-link {
    &.org-link-raw {
      font-family: monospace;
    }

    &.org-linktype-radio {
      color: $org-radio-color;
      text-decoration: underline;
    }

    &.org-error:visited {
      color: $org-error-font-color;
    }
  }

  &.org-verbatim {
    @extend code;
    color: inherit;
  }

  &.org-timestamp {
    white-space: nowrap;

    &.org-timestamp-active {
      color: $org-timestamp-active-color;
    }
    &.org-timestamp-inactive {
      color: $org-timestamp-inactive-color;
    }
  }

  /********************
   * Org blocks
   ********************/

  %org-block-base {
    @extend %block-margins;
    & > :last-child { margin-bottom: 0; }
  }

  &.org-src-block {
    & > .org-src-block-value {
      @extend %org-block-base;
      @extend %code-block-base;
    }
  }

  &.org-center-block {
    @extend %org-block-base;
    text-align: center;
  }

  &.org-example-block {
    @extend %org-block-base;
    @extend %code-block-base;
  }

  &.org-quote-block, .org-verse-block {
    @extend %org-block-base;
    border-left: 5px solid $blue-dark;
    background-color: $bg-blue;
    padding: 6px 20px;
    font-style: italic;
  }

  /********************
   * Other block-level
   ********************/

  &.org-table {
    @extend %block-margins;
    @extend %rtd-table;
  }

  &.org-img-link {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  /********************
   * Lists
   ********************/

  &.org-item {
    &.org-has-checkbox {
      list-style: none;
      position: relative;

      & > .org-checkbox {
        position: absolute;
        left: -2.1em;
        top: .3em;
      }
    }

    // Can there be more than one?
    & > .org-paragraph:last-of-type {
      margin-bottom: 0;
    }
  }

  // Definition lists
  dl.org-plain-list {
    & > dd.org-item {
      margin-bottom: 10px;

      // Remove margins around lists nested in a definition list item
      & > .org-plain-list {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}


/********************
 * Headline stuff
 ********************/

.org-headline {
  margin-bottom: 1em;

  & > * {
    vertical-align: middle;
  }

  & > .org-tags {
    float: right;
  }
}

// A bit more space after TODO stuff
.org-headline-text:not(:first-child) {
  margin-left: .25em;
}

%headline-taglike {
  padding: .1em .25em;
  border-radius: 4px;
  font-size: 90%;
  color: #fff;
  //font-family: sans-serif;
}

.org-todo-kw {
  @extend %headline-taglike;
  background-color: $todo-kw-color;
}

.org-todo-priority {
  @extend %headline-taglike;

  background-color: $todo-priority-color-default;
  &.org-priority-A { background-color: $todo-priority-color-A; }
  &.org-priority-B { background-color: $todo-priority-color-B; }
  &.org-priority-C { background-color: $todo-priority-color-C; }
}


.org-tag {
  @extend %headline-taglike;
  background-color: $org-tag-bg;
  font-weight: normal;
  font-size: 75%;
}

.org-planning {
  //margin-top: -20px;
  margin-bottom: 20px;

  background: $bg-blue;
  border-left: solid 3px $blue-dark;

  font-size: 90%;

  th {
    font-weight: bold;
  }
  th, td {
    text-align: left;
    padding: 2px 4px;
  }
}


/********************
 * Outline structure
 ********************/

.org-header-container {
  margin-top: $section-margin-small;
  margin-bottom: $section-margin-small;

  &.org-header-level-1 {
    margin-top: $section-margin-1;
    margin-bottom: $section-margin-1;
  }
  &.org-header-level-2 {
    margin-top: $section-margin-2;
    margin-bottom: $section-margin-2;
  }

  // Left margin on nesting levels > 1
  &:not(.org-header-level-1) {
    & > .org-section, & > .org-header-container {
      margin-left: $subsection-margin-left;
    }
  }
}


/********************
 * Errors
 ********************/

div.org-node.org-error {
  @extend %block-margins;

  padding: 12px;
  background: $bg-red;

  & > .org-error-msg {
    margin: -12px;
    padding: 6px 12px;
    background: $red-light;
    color: #fff;

    &:not(:last-child) { margin-bottom: 12px; }

    // Icon
    @extend .ion-ios-alert;
    &::before {
      margin-left: -.25em;
      margin-right: .5em;
    }
  }

  // Nested errors
  & > & {
    margin-bottom: 6px;
    &:last-child { margin-bottom: 0; }
  }
}

.org-error {
  color: $org-error-font-color;
}


/********************
 * Other pyorg stuff
 ********************/
.org-headline {
  & > .pyorg-open-header {
    @extend .ion-md-open;
    visibility: hidden;
    font-size: 90%;
    margin-left: .5em;
    color: #ccc;

    &:hover { color: #666; }
  }

  &:hover > .pyorg-open-header { visibility: visible; }
}


/********************
 * Directory page
 ********************/

.pyorg-dirindex {

  & > li {

    &:before { margin-right: 0.5em; }
    &.directory:before { content: "📁"; }
    &.file:before { content: "📄"; }
  }

}


/********************
 * Agenda
 ********************/

table.agenda-table {
  font-size: 75%;
}

@mixin priority-letter($color) {
  color: $color;
  border-color: $color;
  background-color: tint($color, 50%);
}

.org-agenda-priority {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;

  font-weight: bold;
  border: 1px solid;
  border-radius: .25em;

  &.priority-A { @include priority-letter(#ff3333); }
  &.priority-B { @include priority-letter(#ff9900); }
  &.priority-C { @include priority-letter(#99ff00); }
}
