/*
 * Styling for org file elements.
 */


.org-content {
  //@extend .rst-content;
}


.org-tag {
}


/********************
 * Org AST nodes
 ********************/

.org-node {

  /********************
   * Inline markup
   ********************/

  &.org-link {
    &.org-link-raw {
      font-family: monospace;
    }

    &.org-linktype-radio {
      color: #999;
      text-decoration: underline;
    }

    &.org-error:visited {
      color: $org-error-font-color;
    }
  }

  &.org-verbatim {
    @extend code;
    color: inherit;
  }

  &.org-timestamp {
    white-space: nowrap;

    &.org-timestamp-active {
      color: $org-timestamp-active-color;
    }
    &.org-timestamp-inactive {
      color: $org-timestamp-inactive-color;
    }
  }

  /********************
   * Org blocks
   ********************/

  %org-block-base {
    @extend %block-margins;
    & > :last-child { margin-bottom: 0; }
  }

  &.org-src-block {
    & > .org-src-block-value {
      @extend %org-block-base;
      @extend %code-block-base;
    }
  }

  &.org-center-block {
    @extend %org-block-base;
    text-align: center;
  }

  &.org-example-block {
    @extend %org-block-base;
    @extend %code-block-base;
  }

  &.org-quote-block, .org-verse-block {
    @extend %org-block-base;
    border-left: 5px solid #6AB0DE;
    background-color: #E7F2FA;
    padding: 6px 20px;
    font-style: italic;
  }

  /********************
   * Other block-level
   ********************/

  &.org-table {
    @extend %block-margins;
    @extend %rtd-table;
  }

  &.org-img-link {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  /********************
   * Lists
   ********************/

  &.org-item {
    &.org-checkbox {
      list-style: none;
      //position: relative;

      &::before {
        position: relative;
        left: -1.4em;
        width: 1em;
        margin-right: -1em;
        text-align: center;
      }
      &.org-checkbox-on { @extend .ion-ios-checkmark; }
      //&.org-checkbox-off { @extend .ion-ios-square-outline; }
      &.org-checkbox-trans { @extend .ion-ios-remove; }  // TODO
    }

    // Can there be more than one?
    & > .org-paragraph:last-of-type {
      margin-bottom: 0;
    }
  }

  /********************
   * Headline-associated nodes
   ********************/

  &.org-planning {
    margin-top: -20px;
    margin-bottom: 20px;

    background: #e7f2fa;
    border-left: solid 3px #6ab0de;

    font-size: 90%;

    th {
      font-weight: bold;
    }
    th, td {
      text-align: left;
      padding: 2px 4px;
    }
  }
}


/********************
 * Headline stuff
 ********************/

.org-headline > * {
  vertical-align: middle;
}

// A bit more space after TODO stuff
.org-headline-text:not(:first-child) {
  margin-left: .25em;
}

%headline-taglike {
  padding: .1em .25em;
  border-radius: 4px;
  font-size: 90%;
  color: #fff;
  //font-family: sans-serif;
}

.org-todo {
  @extend %headline-taglike;
  background-color: #f29f97;
}

.org-todo-priority {
  @extend %headline-taglike;

  // Default color for level C and below
  background-color: #dbf223;

  &.org-todo-priority-A { background-color: #f25242; }
  &.org-todo-priority-B { background-color: #f28d3d;}
}

.org-headline > .org-tags {
  float: right;
}

.org-tag {
  @extend %headline-taglike;
  background-color: #666;
  font-weight: normal;
  font-size: 75%;
}


/********************
 * Outline structure
 ********************/
.org-header-container:not(.org-header-level-1) {
  & > .org-section, & > .org-header-container {
    margin-left: $subsection-margin-left;
  }
}


/********************
 * Errors
 ********************/

div.org-node.org-error {
  @extend %block-margins;

  padding: 12px;
  background: #fdf3f2;

  & > .org-error-msg {
    margin: -12px;
    padding: 6px 12px;
    background: #f29f97;
    color: #fff;

    &:not(:last-child) { margin-bottom: 12px; }

    @extend .ion-ios-alert;
    &::before {
      margin-left: -.25em;
      margin-right: .5em;
    }
  }

  & > & {
    margin-bottom: 6px;
    &:last-child { margin-bottom: 0; }
  }
}

.org-error {
  color: $org-error-font-color;
}

.org-error-msg {
  //@extend .wy-alert;
  //@extend .wy-alert.wy-alert-danger;
}


/********************
 * Directory page
 ********************/

.pyorg-dirindex {

  & > li {

    &:before { margin-right: 0.5em; }
    &.directory:before { content: "📁"; }
    &.file:before { content: "📄"; }
  }

}


/********************
 * Agenda
 ********************/

table.agenda-table {
  font-size: 75%;
}


@mixin priority-letter($color) {
  color: $color;
  border-color: $color;
  background-color: tint($color, 50%);
}

.org-agenda-priority {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;

  font-weight: bold;
  border: 1px solid;
  border-radius: .25em;

  &.priority-A { @include priority-letter(#FF0000); }
  &.priority-B { @include priority-letter(#FF9900); }
  &.priority-C { @include priority-letter(#99FF00); }
}
