@import 'variables.scss';
@import 'mixins.scss';
@import 'fonts';
@import 'layout';
@import 'sidebar';
@import 'markup';
@import 'tables';
@import 'org';
@import 'agenda';
@import 'ast';


html {
    font-size: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: $body-bg;
    color: $font-color;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
}

#content{
    background: $content-bg;
    height: 100%;
    margin-left: $sidebar-width;
    max-width: $content-max-width;
    min-height: 100%;
    padding: 1.5em 3em;
}


/*
Breadcrumbs
 */

nav.breadcrumbs > ul {
  margin: 0;
  padding: 0;

  & > li {
    display: inline-block;

    &:not(:last-child)::after {
      content: " »";
    }

    & > a {
      display: inline-block;
      padding: 5px;
      &:first-child { padding-left: 0; }
    }
  }
}


pre {
  @extend %code-block-base;

  &.pre-wrap {
    white-space: pre-wrap;
  }
}