{#  Displays exported .org file #}
{% from 'macros.html.j2' import sidebar_toc_list %}

{% extends 'rtd_base.html.j2' %}

{% set page_title = file_name %}
{% set depth = parents | length %}


{% block head %}
{{ super() }}

<script type="text/javascript">
    "use strict";

    let pyorg_data = {
        file_open_url: "{{ url_for('api.open_orgfile', path=file_path) }}",
    };

	$( document ).ready(function() {
        // Enable scrollspy
		$('body').scrollspy({target: '#file-toc'});

		// Open headers in Emacs
        // TODO: actually navigate to header instead of just file
		$('a.pyorg-open-header').click(function () {
		   console.log('Opening ' + pyorg_data.file_open_url);
		   $.post(pyorg_data.file_open_url);
        });
	});
</script>
{% endblock head %}


{% block content %}

	{# Breadcrumbs #}
	<nav class="breadcrumbs">
        <ul>
			{% for dirname in ['root'] + (parents | list) %}
				<li>
					<a href="./{{ '../' * (depth - loop.index0) }}">{{ dirname }}</a>
				</li>
			{% endfor %}
			<li>{{ file_name }}</li>
		</ul>
		<hr/>
	</nav>

	{{ file_content }}

{% endblock content %}


{% block sidebar_menu %}
    <h2 class="sidebar-menu-section">Contents</h2>
    <div id="file-toc">
    {{ sidebar_toc_list(toc) }}
    </div>
{% endblock sidebar_menu %}
