{# Base template for RTD theme layout -#}


{% extends 'base.html.j2' %}

{% block body_content %}

	{# Side nav #}
	<nav class="sidebar">
		{% block sidebar %}
			<div class="sidebar-top">
                <h2><a href="{{ url_for('home') }}">pyorg</a></h2>
                <div class="sidebar-top-menu">
                    <a href="{{ url_for('pyorg.viewfile') }}" title="Org directory"><i class="ion-ios-folder"></i></a>
                    <a href="{{ url_for('pyorg.agenda') }}" title="Agenda"><i class="ion-ios-calendar"></i></a>
                </div>
			</div>

			<div class="sidebar-menu">{% block sidebar_menu %}{% endblock sidebar_menu %}</div>
		{% endblock sidebar %}
	</nav>

	{# Main body #}
	<section class="content">
		{% block content %}{% endblock content %}
	</section>

{% endblock body_content %}
